<div class="container-fluid">
  <div class="row ">
  <div class="col-12 text-center">
      <h1 class="pt-3 pb-3">Company Name</h1>
  </div>
  
  </div>
  <div class="row">
      <div class="col-12 carousalCont">
          <img class="banner" [src]="DisplayArray[1]" alt="">
      </div>
      <span  (click)="prevArray()" class="arrowl"><</span>
      <span (click)="nextArray()"  class="arrowr">></span>
     
  </div>
  <div class="row align-items-center">
  <div class="thirdy">
  <div class="img_cont">
      <img class="fullimg" [src]="DisplayArray[2]" alt="" srcset="">
  </div>
  </div>
  <div class="seventy">
  <div class="half">
      
      <div class="small_img_cont">
          <img class="halfimg" [src]="DisplayArray[3]" alt="">
      </div>
  </div>
  <div class="half">
      <div class="small_img_cont">
          <img class="halfimg" [src]="DisplayArray[4]" alt="">
  
      </div>
  </div>
  <div class="half">
      <div class="small_img_cont">
          <img class="halfimg" [src]="DisplayArray[5]" alt="">
  
      </div>
  </div>
  <div class="half">
      <div class="small_img_cont">
          <img class="halfimg" [src]="DisplayArray[6]" alt="">
  
      </div>
  </div>
  </div>
  </div>
  <div class="row footer">
     <img class="footerlogo" src="../../assets/logo.jpeg" alt="" srcset=""> <span>@Sugar (india) entertainment</span>
  </div>
  </div>